{
  "aud": "$AUD",
  "exp": $EXP,
  "iat": $IAT,
  "iss": "$ISS",
  "nbf": $IAT,
  "sub": "$SUB",
  "name": "$NAME",
  "isadmin": "true",
  "mygroups": [
    "group1",
    "group2"
  ],
  "email": "$EMAIL",
  "email_verified": true
}